/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bricolage Grotesque', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Set a minimum height for the app root */
app-root {
  display: block;
  min-height: 100vh;
}
